<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="works.user.dao.UserMapper">
	<!-- 根据用户名查询用户id,查用户名是否存在 -->
	<select id="getIdByUserName"  resultType="_long">
		select count(id) from users where userName=#{userName}
	</select>
	
	<!-- 往users表和userInfo表里写,同时成功或同时失败 -->
	<insert id="saveUser" useGeneratedKeys="true" keyProperty="id">
	insert into users values(default,#{userName},#{password})
	</insert>
	<insert id="saveUserInfo">
	insert into userinfo (user_id,nickName,inco) values(#{id},#{nickName},#{inco})
	</insert>
	
	<!-- 根据用户名和密码获得User -->
	<select id="getUserByUnameAndPassword" resultType="works.user.bean.Users">
	select u.id,ui.nickName,ui.inco from users u,userinfo ui where  u.id=ui.user_id and u.userName=#{userName} and u.password=#{password}
	</select>
	<delete id="deleteUser">
	delete from users where id=#{id}
	</delete>
</mapper>